doctype 5
html(ng-app)
  head
    title OKJSP
    link(rel='stylesheet', href='/components/reveal.js/css/reveal.min.css')
    link(rel='stylesheet', href='/components/reveal.js/css/theme/default.css')
    link(rel='stylesheet', href='/css/doc-frontend-tech.min.css')

    script(type="text/javascript", src="/components/angular/angular.min.js")
    script(type="text/javascript", src="/components/reveal.js/lib/js/head.min.js")
    script(type="text/javascript", src="/components/reveal.js/js/reveal.min.js")
    script(type="text/javascript", src="/js/doc-frontend-tech.min.js")

  body

    block content

    script(type="text/javascript").
      Reveal.initialize({
        margin: 0,
        width: 1024,
        controls: true,
        progress: true,
        history: true,
        center: true,
        overview: true,
        transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none
        transitionSpeed: 'fast',
        backgroundTransition: 'none', // default/none/slide/concave/convex/zoom
        parallaxBackgroundImage: '', // https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme

        dependencies: [
          { src: '/components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/components/reveal.js/lib/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/components/reveal.js/lib/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '/components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
